body {
    width: 100%;
    background-image: url(/img/bgboam.jpg);
    background-size: cover;
    background-attachment: fixed;
}

// @media screen and (min-width:768px) {

// }


@media screen and (max-width:768px) {
    
     .circleww1 img{
        width: 100%;
    }

     .circleww2 img{
        display: none;
    }

    .circle-btn {
        font-size: 100%;
    }

    .speech p{
        width: 5%;
    }
    // .pic-me {

    // }

     nav ul li{
        display: none;
    }

    footer {
        width: 100%;
    }
}


// A PROPOS !

.circleww2 img{   
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%); 
}


.skill-img {
    position: absolute;
    top: 150px;
    right: 80px;

        &>img {
            width: 40vh;
        }    
}

.pic-me {
    top: 70px;

        &>img {
            width: 30vh;
        }
}

.speech {
    position: relative;
    height: 50vh;
    width: 30vw;
    border: 1px solid;
    border-radius: 10px;
    @include fontage('MS', 1.2rem, justify, 4px, 30px);
    background-color: $anth;
    top: 50px;
    left: 67%;

        &>p {
            width: 25vw;
            padding: 30px;
        }
}

// Formulaire de la page CONTACT 

.circleww4 img{   
    position: absolute;
    width: 30vw;
    left: 23%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.form-container {
    position: relative;
    flex-direction: row;
    border-radius: 10px;
    background-color: $anth;
    width: 50vw;
    height: 75vh;
    left: 46%;
    top: 50px;
}

button {
    background-color: #000000;
    @include fontage('MS', 1.2rem, '', 4px, '');
    color: $leuco;
    height: 10vh;
    width: 15vw;
    border-radius: 10px;
    margin-left: 220px;
    margin-top: 20px;
}

.dlcv {
    width: 25vw;
    height: 5vh;
    margin-left: 155px;
}

// label {
//     display: block;

// }

input:not(#message) {
    margin-top: 60px;
    margin-left: 20px;
    width: 22vw;
    height: 5vh;
    border-radius: 5px;
}

#message {
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 5px;
    width: 46vw;
    height: 20vh;
}

// Container de la page PORTOFOLIO

#folio-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item1 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}
.item2 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}
.item3 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}
.item4 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}

#folio-container  img{
    width: 100%;
    height: 100%;
}
    
