body {
    width: 100%;
    background-image: url(/img/bgboam.jpg);
    background-size: cover;
    background-attachment: fixed;
}

// A PROPOS !

.img-container {      
    // @extend %absoluteCenter;   
    display: inline-flex;
}

.pic-me {
    display: inline-flex;
    justify-content: end;
    top: 10px;

        &>img {
            width: 30vh;
        }
}

.speech {
    display: inline-flex;
    border-radius: 10px;
    background-color: rgba($color: $anth, $alpha: 0.7);
 
        &>p {
            width: 50vw;
            @include fontage('MS', 2rem, justify, '', '');
            padding: 30px;
            }
}

// Formulaire de la page CONTACT 

.circleww4 img{   
    position: absolute;
    width: 25vw;
    left: 23%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.form-container {
    position: absolute;
    flex-direction: row;
    background-color: rgba($color: $anth, $alpha: 0.5);
    border-radius: 0 0 0 10px;
    width: 54vw;
    height: 82vh;
    right: 0;
    padding-bottom: 20px;
}

// Submit bouton du Form
    .send {
    background-color: $anth;
    @include fontage('MS', 1rem, '', '', '');
    color: $leuco;
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    margin-left: 20px;
}

    .dlcv{
    background-color: $anth;
    @include fontage('MS', 0.8rem, '', '', '');
    color: $leuco;
    border-radius: 10px;
    height: 90vh;    
    width: 10vw;
    height: 5vh;

    position: absolute;
    left: 23%;
    top: 50%;
    transform: translate(-50%, -50%); 
}


input:not(#message) {
    margin-top: 50px;
    margin-left: 20px;
    width: 22vw;
    height: 4vh;
    border-radius: 5px;
}

textarea {
    margin-top: 60px;
    margin-left: 20px;
    border-radius: 5px;
    width: 87%;
    resize: none;
}

// label {
//     display: block;

// }


// Container de la page PORTOFOLIO

#folio-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item1 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}
.item2 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}
.item3 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}
.item4 {
    display: flex;
    width: 590px;
    height: 340px;
    border: 16px solid black;
}

#folio-container  img{
    width: 100%;
    height: 100%;
}
    
// Skills Page 


.skill-img {
    position: absolute;
    top: 150px;
    right: 80px;

        &>img {
            width: 40vh;
        }    
}
