.footer {
    background-image: $bgnavfoot;
    background-size: cover;
    color: $anth;
    bottom: 0;
    height: 15vh;
    width: 100%;
    opacity: 0.7;

        & div p{
            @include flex (row, center, '');
            @include fontage('MS', 0.9rem, center, 5px, '');
            padding: 20px;
        }
}