.footer {
    position: absolute;
    background-image: $bgnavfoot;
    background-size: cover;
    color: $anth;
    bottom: 0;
    height: 8vh;
    width: 100%;

        &>div {
            @include flex (row, center, '');
            @include fontage('MS', 0.9rem, center, 20px, '');
            padding: 25px;
        }
}