h2 {
    @include fontage('MS', 1.5rem, left, 4px, 45px);
    position: absolute;
    width: 27%;
    color: $anth;
    font-weight: 900;
    bottom: 140px;
    left: 20px;
}

.title {
    @include fontage('MR', 2.8rem, left, 14px, '');
    margin-top: 50px;
    padding-left: 20px;

    & {
        color: $anth;
    }
        &:hover {
            color: $bld;
        }
}

.circleww1 {
    @extend %absoluteCenter;
}

.circle-btn {
    @extend %absoluteCenter;
    @include fontage('MR', 2.5rem, center, 5px, '');
    
        a {
            color: $anth;
            transition: 1s;
            &:hover{
                color: $bld;
                font-size: 2rem;
            }
        }
} 
