
// ARBORESCENCE A OPTIMISER *_* !!!
.navigation2 {
    background-image: $bgnavfoot;
    color: $leuco;
    height: 8vh;
    &>ul {
        padding: $paddingSection;
        @include flex(row, space-between, center);
        li:not(.lang) {
            text-transform: uppercase;
            @include fontage('MR', 16px, center, 5px, 0);
                a {
                    text-decoration: none;
                    color: $leuco;
                    transition: 0.4s;
                    &:hover {
                        border-top: 4px solid $bld;
                        padding: 10px 0px;
                            }
                    }
                        img {
                            width: 50%;
                            border-radius: 50%;
                            }
                            img {
                                left: 50px;
                                }  
                                &:hover {
                                    color: $bld;
                                }
                    }
                }
            }

// STYLE SUR BUTTON LANGAGE SWITCH
.lang {
        color: $leuco;
        text-decoration: none;
        background-color: $anth;
        border-radius: 15px;
        padding: 5px 6px;
        @include fontage('MS', 0.5rem, '', '', '');

        &:hover {
            color: $bld;
        }
    }
