$bgnavfoot: url("/img/navfootbg.jpg");
$bgbody: url("/img/bgboamd.jpg");
$logo: url("/img/log0.jpg");
$leuco: #FFFFFF;
$bld: #FF0000;
$anth: #707070;
$paddingSection: 10px 50px; 
// $transition: all 0.4s;